* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#clicker {
    cursor: pointer;
    width: 49%;
    /*! background-color: aqua; */
}

#clicker > section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nao_selecionar {
    position: absolute;
    top: 0;
    left: 0;
    width: 49vw;
    height: 100vh;
    background-color: transparent;
    z-index: 100;
}

#loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    background-color: rgba(182, 193, 204, 0.288);
    width: 51%;
    height: 100vh;
    overflow: auto;
}

#loja_de_power_ups {
    display: flex;
    font-size: 0.7em;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
}

#loja_de_power_ups > div {
    height: 60px;
    margin: auto;
    width: 95%;
    background-color: white;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

#loja_de_power_ups > div:hover {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

button {
    display: none;
    position: absolute;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EAEDF0;
    font-size: 20px;
}

@media (max-width: 460px) {
    #loja {
        display: none;
    }

    section {
        width: 100vw;
        z-index: 1;
    }

    #nao_selecionar {
        width: 100vw;
        z-index: 1;
    }

    button {
        display: block;
        cursor: pointer;
        z-index: 2;
    }
}

::-webkit-scrollbar {
    width: 8px;
    z-index: -1;
}

::-webkit-scrollbar-track {
    background: #EAEDF0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
}

#trollagem {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: wait;
    background-color: transparent;
    z-index: 3;
}